<tr id="departmentRow_<%= staff_department.id%>">
  <td><%= staff_department.name %></td>
  <td><%= staff_department.staff_category.name%>
  <td class="centered">
    <%= link_to '', super_staff_department_path(staff_department), {class: "fa fa-eye theme-action tiny btn round-large"} %>
    <%= link_to '', "javascript:void();", {class: "fa fa-pencil amber tiny btn round-large", onclick: "$('#updateDepartment_#{staff_department.id}').show();"} %>
    <%= link_to '', "javascript:void();" ,class: "fa fa-trash red round-large tiny btn", onclick: "$('#deleteDepartment_#{staff_department.id}').show();" %>

    <%= simple_form_for(staff_department, url: super_staff_department_path(staff_department), method: :put, remote:true) do |f| %>
      <div id="updateDepartment_<%= staff_department.id%>" class="modal round">
        <div class="modal-content card-8 animate-opacity round" style="max-width:600px">
          <div class="container border-bottom  light-grey round">
            <h4 class="left"><i class="fa fa-plus"></i>  New Staff Department</h4>
          </div>
          <div class="row-padding margin-bottom">
            <%= f.input :name %>
          </div>

          <div class="row-padding margin-bottom">
            <%= f.association :staff_category %>
            <%= f.input :updated_by, :as => :hidden, :input_html => { :value => "#{current_user.id}" }%>
          </div>

          <div class="container border-top padding light-grey margin-top">
            <%= f.button :submit, "Update",  class: "btn theme-d4 round left tiny margin-bottom " %>
            <button onclick="$('#updateDepartment_<%= staff_department.id%>').hide();" type="button" class="btn red tiny right round">Cancel</button>
          </div>
        </div>
      </div>
    <% end %>

    <!-- UPdate Staff Department for -->
    <%= simple_form_for(staff_department, url: super_staff_department_path(staff_department), method: :delete, remote:true) do |f| %>
      <div id="deleteDepartment_<%= staff_department.id%>" class="modal round">
        <div class="modal-content card-8 animate-opacity round" style="max-width:600px">
          <div class="container border-bottom  light-grey round">
            <h4 class="left"><i class="fa fa-trash"></i>  Staff Department</h4>
          </div>
          <div class="container">
            <p>Are you sure, you want to remove this Department</p>
          </div>
          <div class="container border-top padding light-grey margin-top">
            <%= f.button :submit, "Remove",  class: "btn theme-d4 round left tiny margin-bottom " %>
            <button onclick="$('#deleteDepartment_<%= staff_department.id%>').hide();" type="button" class="btn red tiny right round">Cancel</button>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>
